
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Sign In</h3>
            <form [formGroup]="formGroup">
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" formControlName="email" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password" required>
              </div>
              <button type="submit"
                      class="btn btn-primary"
                      (click)="signIn()">Sign In</button>
              <button type="submit" class="btn btn-secondary m-3" routerLink="/signup">Sign Up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
